.dashboard{
    background-color: #fff;
}

.header{
    height: 100px;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}